header {
  background-color: cornflowerblue;
  padding: 30px 0; /* Padding for top and bottom */
}
nav ul {
  background-color: antiquewhite;
  list-style-type: none; /*Remove bullets from list*/
  margin: 10px; /* Remove default margin */
  padding: 10px; /* Remove default padding */
  display: flex; /* Arrange items horizontally */
  justify-content: left; 
}
nav ul li {
  margin: 0 20px; /* Margin between navigation items */
}
nav ul li a {
  text-decoration: none; /* Remove default underline */
  color: #007bff; /* Blue text color */
  font-weight: bold; /* Bold text */
  transition: color 0.3s, text-decoration 0.3s; /* Smooth transition for hover effects */
}
nav ul li a:hover {
  color: #0056b3; /* Darker blue on hover */
  text-decoration: underline; /* Underline text on hover */
}

section {
  padding: 20px;
  border-radius: 8px;
  position: relative;
  display: grid;
  align-items: center;
  justify-content: start;
}
#Home {
  background-color: cadetblue;
  flex-direction: row;
}
#AboutUs {
  background-color: aliceblue;
}
#OurPrograms {
  background-color: aqua;
}
#OurFacilities {
  background-color: blanchedalmond;
}
#ContactUs {
  background-color: burlywood;
} 

.image-text-container {
  display: flex;
  align-items: left;
  justify-content: start;
}

.image-text-container img {
  margin-right: 20px;
}

.text {
  max-width: 600px; /* Adjust as needed */
}


form {
  background-color: #f8f9fa; /* Light grey background for the header */
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
  /* margin-bottom: 30px; */
  text-align: left;
  display: block;
}