/* CSS Area Header */
header {
  background-color: lightgrey;
  padding: 20px 0px;
  margin-bottom: 0px;
  margin-right: 0px;
}
nav ul {
  background-color: antiquewhite;
  list-style-type: none;
  margin: 10px;
  padding: 0px;
  display: flex; 
  justify-content: left; 
}
nav ul li {
  margin: 0 20px;
}
nav ul li a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  transition: color 0.3s, text-decoration 0.3s;
}
nav ul li a:hover {
  color: #0056b3;
  text-decoration: underline;
}

/* CSS Section */
section {
  padding: 10px;
  border-radius: 20px;
  display: flex;
  position: relative;
  align-items: center;
}
#Home {
  background-color: cadetblue;
  flex-direction: row;
  font-size:inherit;
  text-size-adjust: 30;
}
#AboutUs {
  background-color: aliceblue;
}
#OurPrograms {
  background-color: aqua;
}
#OurFacilities {
  background-color: blanchedalmond;
}
#ContactUs {
  background-color: burlywood;
} 


form {
  background-color: #f8f9fa; /* Light grey background for the header */
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
  /* margin-bottom: 30px; */
  text-align: left;
  display: block;
}
.form-group {
  margin-bottom: 15px;
}
.form-label {
  display: block;
  margin-bottom: 5px;
}
.form-control {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
}
